<%= form_for([@post, @post.comments.build]) do |f| %>
  <!-- <p>
    <%= f.label :name %> <br />
    <%= f.text_field :name %>
  </p> -->
  <!-- <div>
    <%= f.label :body, 'Add a comment:' %> <br />
  </div> -->
  <%= f.text_area :body, placeholder: "Comment" %>
  <%= f.submit 'Submit', :class => 'btn'%>

<% end %>
