<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>
  <p><%= post.created_at.strftime("%B, %d, %Y") %></p>
  <p><%= post.user.name %></p>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Create New Posts", new_post_path %>
<% end %>
