<div class="post-container grid-container">

  <!-- <div class="post-content grid-content">

  </div> -->

  <%= link_to "◀︎", posts_path, class: 'btn back-btn grid-header-01' %>
  <div class="post-information grid-header-02">
    <p class="name"><%= @post.user.name %></p>
    <p class="date"><%= @post.created_at.strftime("%B, %d, %Y") %></p>
  </div>

  <h1 class="title grid-title">
    <%= @post.title %>
  </h1>

  <p class="content grid-contents">
    <%= @post.body %>
  </p>

  <%= link_to "Edit Posts", edit_post_path(@post), class: "btn edit-btn grid-footer-01" %>
  <%= link_to "Delete Posts", post_path(@post), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn delete-btn grid-footer-02"  %>



</div>



<div class="post-comment">
  <h2>Comments</h2>
  <%= render 'comments/comment' %>

  <h2>Add a Comment:</h2>
  <%= render 'comments/form' %>
</div>
