<h1>This is a Show page!</h1>
<br />
<%= link_to "Back to Posts", posts_path %>

<h2>
  <%= @post.title %>
</h2>

<p>
  <%= @post.body %>
</p>

<%= link_to "Edit Posts", edit_post_path(@post) %>
<%= link_to "Delete Posts", post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>

<h2>Comments</h2>
<%= render 'comments/comment' %>

<h2>Add a Comment:</h2>
<%= render 'comments/form' %>
